.box{
    background: #131316;
    height: 90%;
}
.card {
    flex: 0 1 auto;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
}
.text-left {
    text-align: left;
}
.scroll {
    overflow: scroll;
    overflow-x: hidden;
}