.header-wrapper {
    display: flex;
    background: #1C1C21;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0px;

    height: 88px;
}
.box-header {
    display: flex;
    width: 80%;
    margin: auto;
}
.element-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 8px;

    background: #1C1C21;
    border-radius: 40px;

    order: 0;
    flex-grow: 0;
}
.header-logo {
    flex: 3;
}