.header {
    display: flex;
    background: #1C1C21;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0px;

    height: 88px;
}
.boxHeader {
    display: flex;
    width: 80%;
    margin: auto;
}
.elementHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 8px;
    color: #fff;
    text-decoration: none;
    background: #1C1C21;
    border-radius: 40px;

    order: 0;
    flex-grow: 0;
}
.headerLogo {
    flex: 1;
    padding-right: 120px;
}