.description {
    display: flex;
    gap: 20px;
    align-self: center;
}
.image {
    width: 480px;
    height: 240px;
}
.content {
    position: absolute;
    margin-top: 10%;
    margin-left: 36%;
}
.content > div {
    justify-content: center;
}